#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar {
  background: transparent;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  transition: background 250ms ease-in;
  margin: 0 auto;
  display: flex;
  height: 10vh;
}

.navbar.active {
  background: #001499;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  transition: background 250ms ease-in;
}
.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  margin-right: 2rem;
  transition: background 250ms ease-in;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 10px;
  transition: background 250ms ease-in;
  display: flex;
  align-items: center;
}
.nav-item a img {
  filter: brightness(0) invert(1);
  margin-left: 6px;
  height: 16px;
  width: 16px;
}

.nav-item a:hover {
  background: rgb(234, 234, 234);
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav-item a:hover img {
  filter: none;
}
.services-submenu {
  min-width: 10rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 67px;
  list-style: none;
  text-align: start;
  border-radius: 10px;
}
.more-icon a img {
  height: 30px;
  width: 30px;
}
.services-submenu li {
  background: rgb(234, 234, 234);
  cursor: pointer;
}
.services-submenu li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.services-submenu li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.services-submenu li a {
  margin: 0 !important;
}

.services-submenu li a:hover {
  background: rgb(185, 188, 188);
  border-radius: 10px;
  box-shadow: none !important;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000 !important;
  padding: 16px;
}
.feed-card {
  background: radial-gradient(#66339961, #0000ff54);
  margin: 40px 80px;
}
.card-wrapper {
  background: #001499a1;
}
