@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  /* overflow-x: hidden; */
}
body {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0;
  font-family: 'Lato';
  overflow-x: hidden;

}
